.app-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-image:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+Cg==");
  /* url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzEnLz4KPC9zdmc+"); */
  background-repeat: repeat;
  height: 260px;
}

.title-container{
  background-color: white;
  /* border: 1px solid black; */
  margin-top: 1.9rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 1rem 1rem rgba(0,0,0,.7);
  transition: 2s;
}

.title-container:hover {
  box-shadow: .75rem .75rem rgba(0,0,0,.9);
  transition: 2s;
}

.title {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  margin:0 auto;
  font-size: 120px;
  padding: 1rem;
  background-image: linear-gradient(90deg, black 25%, rgba(77,71,180,1) 37.5%, rgba(154,49,164,1), rgba(235,173,131,1) 62.5%, black 75%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.title:hover {
  background-position: left center;
  color: rgba(154,49,164,1);
  transition: background-position 4200ms ease-in-out;
}
