.nav {
  text-align: right;
  background-color: white;
  border: 1px solid black;
  margin-right: 1.7rem;
  margin-top: 1.5rem;
  width: 175px;
  box-shadow: 1rem 1rem rgba(0,0,0,.7);
  transition: 2s;
}

.nav:hover{
  box-shadow: .75rem .75rem rgba(0,0,0,.9);
}

.nav-link {
  padding: 10px;
  margin-right: 10px;
  margin-left: 5px;
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
  transition: 1s;
}

.nav .nav-link-selected {
  text-align: left;
}

.nav-link-selected {
  padding: 10px;
  margin-right: 35px;
  margin-left: 5px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-decoration: none;
  transition: 1s;
  background-image: -webkit-linear-gradient(-45deg, rgba(77,71,180,.8)  0%, rgba(154,49,164,.8) 47%, rgba(235,173,131,.8) 100%);
  background-repeat: no-repeat;
  background-position: 0 27px;
  background-size: 100% 8px;
}


.nav-link:hover{
  font-style: italic;
  background-image: -webkit-linear-gradient(-45deg, rgba(77,71,180,.8)  0%, rgba(154,49,164,.8) 47%, rgba(235,173,131,.8) 100%);
  background-repeat: no-repeat;
  background-position: 0 27px;
  background-size: 100% 8px;
}
