.control-button {
  background-color: black;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 900;
  width: 300px;
  border: none;
  cursor: pointer;
  outline: 4px solid black;
  outline-offset: 5px;
  box-shadow: 0 8px 16px 0 rgba(77,71,180,0.6), 0 6px 18px 0 rgba(77,71,180,0.19), 6px 0 16px 0 rgba(240, 110, 23, 0.6), 8px 0 18px 0 rgba(240, 110, 23,0.19);
  position: relative;
  overflow: hidden;
  transition: 3s;
  color: white;
}

.control-button:hover {
  box-shadow: none;
}

.control-button .button-text{
  box-shadow: none;
  font-style: italic;
  margin: 20px;
}

.sound-container{
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
}

.control-button:after {
  content: "";
  background-image: -webkit-linear-gradient(-45deg, rgba(235,173,131,.8) 0%, rgba(154,49,164,.8) 47%, rgba(77,71,180,.8) 100%);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1s
}

.control-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
